/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: 'HelveticaLTStdBoldCond';
    src: url('../fonts/HelveticaLTStdBoldCond.eot');
    src: url('../fonts/HelveticaLTStdBoldCond.eot') format('embedded-opentype'),
    url('../fonts/HelveticaLTStdBoldCond.woff2') format('woff2'),
    url('../fonts/HelveticaLTStdBoldCond.woff') format('woff'),
    url('../fonts/HelveticaLTStdBoldCond.ttf') format('truetype'),
    url('../fonts/HelveticaLTStdBoldCond.svg#HelveticaLTStdBoldCond') format('svg');
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
.header .top{
    background: #000;
    color: #fff;
}
.header .top .top-href{

}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
    overflow: hidden;
    width: 0!important;
    height: 0!important;
}
.header .top .left li{
    float: left;
    margin: 20px 0 20px 15px;
}
.header .top .right li{
    float: left;
    margin: 20px 20px 20px 0;
}
.header .top li,
.header .top li a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-family: HelveticaLTStdBoldCond;
}
.header .top li a{
    text-decoration: none;
}
.fade-top{
    height: 160px;
    background: #000000;
    border-bottom: 1px solid gray;
}
.fade-top .logo{
    float: left;
    width: 37%;
}
.fade-top .logo img{
    margin: 50px 0 0 55px;
}
.fade-top .social{
    float: left;
    width: 63%;
}
.fade-top .social a img{
    float: left;
    margin: 55px 0 0 50px;
}
.fade-top>.social>img{
    float: left;
    margin: 25px 0 0;
}
.fade-top>.social>a:last-child>img{
    margin: 10px 0 0 45px;
}
.main-menu{
    background: none repeat scroll 0 0 #fff;
    height: 160px;
}
.main-menu .first{
    height: 100px;
    font-family: HelveticaLTStdBoldCond;
}
.main-menu .first span{
    color: gray;
}
.main-menu>.first>p{
    color: #000000;
    padding: 50px 0 0 20px;
    float: left;
}
.main-menu>.first>img{
    float: left;
    padding: 20px 0 0 145px;
}
.main-menu>.first>.cart{
    float: right;
    padding: 20px 15px 0 0;
}
.main-menu>.first>.cart>p>img{
    margin: 0 0 -15px 0
}
.main-menu .second li{
    float: left;
    margin: 15px 0 0 20px;
}
.main-menu .second li:first-child{
    margin-left: 150px;
}
.main-menu .second li,
.main-menu .second li a{
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    font-family: HelveticaLTStdBoldCond;
}
.main-menu .second li a{
    text-decoration: none;
}
.main-menu>.second>ul>li>a>img{
    margin-top: -20px;
}
.main-menu>.second>ul>li>input{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin-top: -3px;
    width: 50px;
    color: gray;
}
.footer{
    width: 100%;
    background: #000000;
}
.footer .first{
    padding-top: 30px;
    width: 960px;
    margin: 0 auto;
}
.footer .second{
    border-bottom: 1px solid gray;
}
.footer .second .fwrap{
    height: 50px;
    margin: 0 auto;
    width: 960px;
}
.footer .second .fwrap li{
    float: left;
    margin: 16px 15px 0 0;
}
.footer .second .fwrap a{
    text-decoration: none;
}
.footer .second .fwrap li,
.footer .second .fwrap li a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-family: HelveticaLTStdBoldCond;
}
.footer .second .fwrap li:first-child{
    margin-left: 150px;
}
.footer .third{
    margin: 0 auto;
    width: 960px;
    text-align: center;
}
.footer .third li{
    float: left;
    margin: 16px 15px 0 0;
}
.footer .third a{
    text-decoration: none;
}
.footer .third li,
.footer .third li a{
    font-size: 14px;
    color: #fff;
    font-family: HelveticaLTStdBoldCond;
}
.footer .third ul{
    width: 100%;
    float: left;
}
.footer .third li:first-child{
    margin-left: 250px;
}
.langues{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e9e9e9;
    height: 215px;
    margin-top: 11px;
    width: 295px;
    position: absolute;
    top: 300px;
    display: none;
    z-index: 11;
}
.langues .lang_wrap{
    height: 220px;
    width: 295px;
    margin-top: -11px;
    background: url("../img/arrow.png") no-repeat scroll 20px 0 rgba(0, 0, 0, 0);
}
.langues .lang_wrap .block{
    padding: 3px 0 0 15px;
    float: left;
}
.langues .lang_wrap .block:first-child{
    padding-top: 30px;
}
.langues .lang_wrap .block span{
    float: left;
    font-family: HelveticaLTStdBoldCond;
    font-size: 12px;
    color: #000;
    margin-left: 15px;
    line-height: 30px;
    width: 70px;
}
.langues .lang_wrap .block p{
    float: left;
    font-family: HelveticaLTStdBoldCond;
    font-size: 12px;
    color: #808080;
    line-height: 30px;
    margin-left: 15px;
    padding: 0 5px;
    background: #f5f5f5;
}
.langues .lang_wrap .block p img{
    margin-bottom: -3px;
}
.shcart{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e9e9e9;
    margin-top: 11px;
    right: 310px;
    width: 325px;
    position: absolute;
    top: 295px;
    display: none;
}
.shcart .shcart_wrap{
    margin-top: -11px;
    background: url("../img/arrow.png") no-repeat scroll 280px 0 rgba(0, 0, 0, 0);
}
.shcart .shcart_wrap .close{
    height: 30px;
    width: 275px;
    margin: 0 auto;
    padding-top: 20px;
    border-bottom: 1px solid #ebebeb;
}
.shcart .shcart_wrap .close img{
    float: right;
    margin-right: -5px;
}
.shcart .shcart_wrap .scrolling .block{
    width: 260px;
    border-bottom: 1px solid #ebebeb;
    margin: 0 auto;
    height: 110px;
}
.shcart .shcart_wrap .scrolling{
    height: 220px;
    margin: 5px auto 0;
    overflow-y: scroll;
    width: 275px;
}
.shcart .shcart_wrap .scrolling .block img{
    float: left;
    padding: 20px 5px;
}
.shcart .shcart_wrap .scrolling .block .info{
    float: left;
    padding: 20px 0 0;
    font-family: HelveticaLTStdBoldCond;
    font-size: 12px;
    width: 190px;
}
.shcart .shcart_wrap .scrolling .block .info .name{
    font-weight: bold;
}
.shcart .shcart_wrap .scrolling .block .info .description{
    float: left;
}
.shcart .shcart_wrap .scrolling .block .info .price{
    float: right;
    font-size: 16px;
    text-decoration: none;
    color: red;
}
.shcart .shcart_wrap .scrolling .block .info .price span{
    text-decoration: line-through;
    color: #000000;
}
.shcart .shcart_wrap .scrolling .block .info .del{
    float: right;
    text-decoration: underline;
    color: #a7a7a7;
    margin-top: 30px;
}
.shcart .shcart_wrap .total{
    width: 275px;
    font-family: HelveticaLTStdBoldCond;
    color: #000;
    font-size: 19px;
    margin: 10px auto 0;
}
.shcart .shcart_wrap .total .delivery{
    color: #4c4c4c;
    font-size: 12px;
    float: right;

}
.shcart .shcart_wrap .total .text{
    float: left;
}
.shcart .shcart_wrap .total .total_price{
    float: right;
}
.shcart .shcart_wrap .total input{
    background: none repeat scroll 0 0 #000;
    border-radius: 0;
    color: #fff;
    height: 40px;
    width: 275px;
    font-family: HelveticaLTStdBoldCond;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 12px;
}
.drop_down{
    background: none repeat scroll 0 0 #fff;
    height: 490px;
    display: none;
}
.drop_down img{
    float: right;
    padding: 10px;
}
.drop_down .drop_menu{
    float: left;
    width: 190px;
    margin-top: 46px;
}
.drop_down .drop_pic{
    float: left;
    margin-top: 46px;
    width: 770px;
}
.drop_down .drop_menu li{
    padding: 15px 0 0 30px;
}
.drop_down .drop_menu li,
.drop_down .drop_menu li a{
    font-family: HelveticaLTStdBoldCond;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}
.drop_down .drop_menu a{
    text-decoration: none;
}
.drop_down .drop_menu li:last-child{
    margin-top: 35px;
}
.drop_down .drop_pic a{
    float: left;
}
#slider {
    width:960px;
    height: 400px;

    /*IE bugfix*/
    padding:0;
    margin:0;
}
#slider li {
    list-style:none;
}
#page {
    width:960px;
    margin:50px auto;
}
.main-menu > .first > p > a {
    color: #000000;
    text-decoration: none;
    padding: 0 0 25px;
}
.wrapper .content .products_page{
    width: 100%;
}
.wrapper .content .products_page .top{
    height: 110px;
}
.wrapper .content .products_page .top p{
    font-family: HelveticaLTStdBoldCond;
    font-size: 12px;
    color: #4d4d4d;
    float: right;
    text-transform: uppercase;
}
.wrapper .content .products_page .top .left{
    background: none repeat scroll 0 0 #000;
    border: medium none;
    color: #fff;
    float: left;
    font-family: HelveticaLTStdBoldCond;
    font-size: 12px;
    height: 25px;
    text-transform: uppercase;
    width: 100px;
}
.wrapper .content .products_page .top .left option{
    font-family: HelveticaLTStdBoldCond;
    font-size: 12px;
    text-transform: uppercase;
}
.wrapper .content .products_page .top p strong{
    font-weight: bold;
}