/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: 'HelveticaLTStdBoldCond';
    src: url('../fonts/HelveticaLTStdBoldCond.eot');
    src: url('../fonts/HelveticaLTStdBoldCond.eot') format('embedded-opentype'),
    url('../fonts/HelveticaLTStdBoldCond.woff2') format('woff2'),
    url('../fonts/HelveticaLTStdBoldCond.woff') format('woff'),
    url('../fonts/HelveticaLTStdBoldCond.ttf') format('truetype'),
    url('../fonts/HelveticaLTStdBoldCond.svg#HelveticaLTStdBoldCond') format('svg');
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
.header .top{
    background: #000;
    color: #fff;
}
.header .top .top-href{

}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
    overflow: hidden;
    width: 0!important;
    height: 0!important;
}
.header .top .left li{
    float: left;
    margin: 20px 0 20px 15px;
}
.header .top .right li{
    float: left;
    margin: 20px 20px 20px 0;
}
.header .top li,
.header .top li a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-family: HelveticaLTStdBoldCond;
}
.header .top li a{
    text-decoration: none;
}
.fade-top{
    height: 160px;
    background: #000000;
    border-bottom: 1px solid gray;
}
.fade-top .logo{
    float: left;
    width: 37%;
}
.fade-top .logo img{
    padding: 50px 0 0 55px;
}
.fade-top .social{
    float: left;
    width: 63%;
}
.fade-top .social img{
    float: left;
    padding: 55px 0 0 50px;
}
.fade-top .social img:first-child{
    padding: 25px 0 0;
}
.fade-top .social img:last-child{
    padding: 10px 0 0 45px;
}
.main-menu{
    background: none repeat scroll 0 0 #fff;
    height: 160px;
}
.main-menu .first{
    height: 100px;
    font-family: HelveticaLTStdBoldCond;
}
.main-menu .first span{
    color: gray;
}
.main-menu>.first>p{
    color: #000000;
    padding: 50px 0 0 20px;
    float: left;
}
.main-menu>.first>img{
    float: left;
    padding: 20px 0 0 145px;
}
.main-menu>.first>.cart{
    float: right;
    padding: 20px 15px 0 0;
}
.main-menu>.first>.cart>p>img{
    margin: 0 0 -15px 0
}
.main-menu .second{

}